ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 20px;
    border-radius: 6px;
    font-size: 2em;
}

li a:hover {
    background-color: #d9a537;
}

html{
  color: white;
}

td, th {
    text-align: left;
    padding: 33px;
}

/*h2{
  margin-bottom: 33px;
}*/

/* Page Style */
body{
  background-image: url(../img/main_background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	font-size: 14px;
	font-family: sans-serif;
	line-height: 20px;
}

p{
	margin-bottom: 0.3em;
}
.center,
img.center {
	text-align: center;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#centered {
    width: 800px;
    height: 280px;
    position: relative;
    top: 0%;
    margin: 0 auto;
}
h1{
	text-align: center;
	font-size: 35px;
}
img{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
p{
	text-align: center;
}


.button {
  display: block;
  border-radius: 4px;
  background-color: #d9a537;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  color: white;
}

.button:disabled{
  color:grey;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


input[type=text],
input[type=email],
input[type=tel],
input[type=password],
 select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 20px;
}

.errormessage {
	font-size: inherit;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
    background-color: #d95b37;
    max-width: 61%;
    width: inherit;
}


.appendTitle{
  position: relative;
    display: inline;
    bottom: 73px;
    float: right;
    right: 150px;
    font-size: large;
}

.passcheck{
    float: right;
    position: relative;
    background: green;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 45px;
    left: 36px;
}

.mainLoad{
  position: absolute;
  margin-left: 222px;
    padding: 10px;
    /*background-color: rgba(255, 255, 255, 0.23);*/
    height: 500px;
    width: 75vw;
    overflow-y: auto;

}

.approveDiv{
      width: 292px;
    display: inline-flex;
    position: absolute;
    margin-top: -25px;
}







/*ripped from eoko.app.css*/


.eoko-notification-avatar {
  border-radius: 80px;
  width: 80px;
  height: 80px;
  margin: 0em auto;
  background-position-x: 50%;
  background-size: cover;
  position: absolute;
  margin-left: -100px;
  margin-top:16px; }

  .eoko-text-thin, .eoko-text-button-nav {
  font-family: "San Francisco Display";
  font-weight: 200;
  color: #FFFFFF; }

  .eoko-text-ultralight {
  font-family: "San Francisco Display";
  font-weight: 100;
  color: #FFFFFF; }

  .eoko-text-thin, .eoko-text-button-nav {
  font-family: "San Francisco Display";
  font-weight: 200;
  color: #FFFFFF; }


  .item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 106px;
  min-height: 100px; }
  .item-thumbnail-left > img:first-child,
  .item-thumbnail-left .item-image,
  .item-thumbnail-left .item-content > img:first-child,
  .item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%; }

.item-avatar.item-complex,
.item-avatar-left.item-complex,
.item-thumbnail-left.item-complex {
  padding-top: 0;
  padding-left: 0; }

.eoko-button-action-event-join, .eoko-button-action-event-popup-join {
  border-color: none;
  background-color: #F57C00;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  padding: 6px 30px;
  font-size: 20px;
  float: right;
  margin:0 5px; }
  .eoko-button-action-event-join.hover, .hover.eoko-button-action-event-popup-join {
    background-color: #cc6700;
    transition: all 0.3s ease; }
  .eoko-button-action-event-join.active, .active.eoko-button-action-event-popup-join, .eoko-button-action-event-join.activated, .activated.eoko-button-action-event-popup-join {
    background-color: #763b00; }

    .eoko-text-area {
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 6em);
  margin: auto;
  background-color: rgba(255, 255, 255, 0.15);
  height: 10em;
  resize: none; }

  .eoko-text-regular, .eoko-button-text-selected, .eoko-text-input-form {
  font-family: "San Francisco Display";
  font-weight: 400;
  color: #FFFFFF; }

  .eoko-text-input-form {
  padding-bottom: 20px; }