<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
</head>
<body>
  <div id="FA" class="w3-animate-opacity">
    <img src="../img/download2.png" /><hr />
    <div style="margin-left: 25%;" id="error" ng-if="errorpopup != '' ">{{errorpopup}}</div>
    <h1 ng-if="thankyou == true">Please check your email for password reset.<br><br>Redirecting...</h1>

    <!-- FORM TO FORGET PASSWORD -->
    <form>
      <h1> FORGOT YOUR PASSWORD? </h1>
      <p> An instruction will be sent to your email to reset your password.</p>
      <label for="email"></label>
      <input ng-model="info.email" type="email" id="email" name="email" placeholder="Email" required>
      <button ng-click="resetPassword()">Forgot Password</button><br>
      <p>
        Already have an account? <a ui-sref="home">LOGIN.</a>
        Or click <a ui-sref="signup">REGISTER </a>to create one!
      </p>
    </form>
  </div>
</body>
</html>
