<br>
<!--Eoko logo-->
<div class="eoko-login-logo" ng-include src="'templates/icons/logo.html'"></div>

<!--error message when login-->
<div ng-if="errorpopup != '' " class="eoko-popup-error-message">{{errorpopup}}</div>

<form style="margin: 0 auto; text-align: center">

    <!--email field-->
    <label for="email"></label>
    <input ng-model="info.email" type="email" id="email" name="email" placeholder="Email" required>

    <!--login button-->
    <button style="margin: 0 auto;" class="eoko-button-log-in" ng-click="resetPassword()">Forgot Password</button><br>

    <!--login options-->
    <div class="eoko-login-options">

        <div style="float: right">
            <button ui-sref="signup" class="eoko-button-text">Sign up</button>
            <label class="">|</label>
            <button ui-sref="login" class="eoko-button-text">Sign In</button>
        </div>
    </div>

</form>
