<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
</head>
<body>
  <!-- QUOTE AREA -->
  <div id="HomeA" class="w3-animate-opacity">
    <img src="../img/lightbulb.png" />
    <p>We believe that social networks have grown too big, so much so that they only focus on connecting. We at Eoko focus on engagement; we have created a platform that enables you to engage with the people in your network. No post, no videos, all actions. Eoko is here, and its time to experience life with the people in your network.</p>
    <h2> - engagement is the key to retention </h2>

    <!-- APP BUTTON -->
    <div id="HomeA1">
      <button><i class="fa fa-android" aria-hidden="true"></i>SOON FOR ANDROID </button>
      <button><i class="fa fa-apple" aria-hidden="true"></i> SOON FOR IPHONE </button>
    </div>
  </div>

  <!--  LOGIN AND SIGNUP SECTION -->
  <div id="HomeB" class="w3-animate-opacity">
    <img src="../img/download2.png" />
    <hr/>

    <!-- EMAIL AND PASSWORD FIELD -->
    <div id="HomeB1">
      <div id="error" ng-if="errorpopup != '' ">{{errorpopup}}</div>
      <form>
        <label for="email"></label>
        <input ng-model="info.email" type="email" id="email" name="email" placeholder="EMAIL" required>
        <label for="password"></label>
        <input ng-model="info.password" ng-change="checkMatch()" type="password" id="password" name="password" placeholder="PASSWORD" required>
        <div id="HomeB1A">
          <button ng-click="LogUser()">LOGIN</button>
          <button ui-sref="forgotpassword"> FORGOT PASSWORD </button>
        </div>
      </form>
      <p> Don't have an account? Click <a ui-sref="signup"> HERE </a> to signup!</p>
    </div>
  </div>
</body>
</html>
