<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
</head>
<body>
  <!-- QUOTE AREA -->
  <div id="HomeA">
    <img src="../img/lightbulb.png" />
    <p>“This is just some dummy text. Color codes are ways of representing the colors we see everyday in a format that a computer can interpret and display.”</p>
    <h2> - EOKO QUOTE </h2>

    <!-- APP BUTTON -->
    <div id="HomeA1">
      <button><i class="fa fa-android" aria-hidden="true"></i>SOON FOR ANDROID </button>
      <button><i class="fa fa-apple" aria-hidden="true"></i> SOON FOR IPHONE </button>
    </div>
  </div>

  <!--  LOGIN AND SIGNUP SECTION -->
  <div id="HomeB">
    <img src="../img/download2.png" />
    <hr/>

    <!-- EMAIL AND PASSWORD FIELD -->
    <div id="HomeB1">
      <label for="email"></label>
      <input ng-model="info.email" type="email" id="email" name="email" placeholder="EMAIL" required>
      <label for="password"></label>
      <input ng-model="info.password" ng-change="checkMatch()" type="password" id="password" name="password" placeholder="PASSWORD" required>
      <button ng-click="LogUser()">LOGIN</button>
      <p> Don't have an account? Click <a ui-sref="signup"> HERE </a> to signup!</p>
    </div>
  </div>
</body>
</html>
