<!DOCTYPE html>
<body>

  <!-- ________________ VERTICAL NAVIGATION BAR  ________________ -->
  <div id="A" class="w3-animate-opacity">
      <a id="residentsTab" ng-click="selector(3)"><i class="fa fa-user-o"></i>RESIDENTS</a><br>
      <a id="approveTab" ng-click="selector(4)"><i class="fa fa-check"></i> APPROVE</a><br>
      <a id="myEventsTab" ng-click="selector(5)"><i class="fa fa-calendar-check-o"></i>MY EVENTS</a><br>
      <a id="feedbackTab" ng-click="selector(6)"><i class="fa fa-pie-chart"></i>FEEDBACK</a><br>
      <a id="rankingTab" ng-click="selector(7)"><i class="fa fa-star-half-o"></i>RANKING</a><br>
      <a id="logoutTab" ng-click="selector(8)"><i class="fa fa-arrow-right"></i> LOGOUT</a>
  </div>

  <!--  ________________ HORIZONTAL NAVIGATION BAR  ________________ -->
  <div id="B">
      <a id="eventsTab" ng-click="selector(0)">CREATE EVENT<i class="fa fa-calendar" aria-hidden="true"></i></a>
      <a id="surveysTab" ng-click="selector(1)">CREATE SURVEY<i class="fa fa-bar-chart" aria-hidden="true"></i></a>
      <a id="eokoTab" ng-click="selector(2)">CREATE EOKO<i class="fa fa-users" aria-hidden="true"></i></a>
  </div>


<!-- ________________________ MAIN CONTENT_____________________________ -->
<div id="mainBody">
<!-- _________________________ TAB FOR RESIDENTS__________________________ -->
<div id="C" ng-if="selection.tab == 'Residents'">
  <!-- SEARCH BAR FOR THE RESIDENTS -->
  <input type="text" placeholder="SEARCH FOR A RESIDENT..." ng-model="search.text" required>

    <!-- A LIST OF USERS WILL APPEAR -->
    <div id="C1">
      <div ng-if="userData.length == 0">No Users Found!</div>
      <div ng-repeat="user in userData | orderBy : 'name' | filter: {name: search.text}" class="eoko-resident-user-wrapper" ng-click="residentPopup(user)">
      <div class="avatar2" style="background-image: url({{user.avatar}});"></div>
      <h2>{{user.name}}</h2>
      </div>
    </div>

    <!-- PEOPLE INFORMATION WILL POP UP IF CLICKED -->
    <div id="C2" style="margin-left: 55%;">
      <div class="avatar2" style="background-image: url({{currentUser.avatar}});"></div>
        <h2>{{currentUser.name}} </h2>
        <p style="display: contents;">{{currentUser.email}}</p>
        <p><b>Events created:</b> {{currentUser.eventCount}}</p>
        <p><b>Surveys taken: </b> {{currentUser.surveyCount}}</p>
        <p><b>Points given: </b> {{currentUser.points}}</p>

        <!-- BUTTON TO GIVE POINTS -->
        <button style="margin-left: 25px;" ng-click="givePoints(currentUser)">REMOVE</button>
  	    <button ng-click="givePoints(currentUser)">GIVE POINTS</button>
    </div>
</div>

<!-- _________________________ TAB FOR APPROVE __________________________ -->
  <div id="G" ng-if="selection.tab == 'Approve'">

    <!-- IF NO USERS, OUTPUT NO USER MESSAGE -->
    <div ng-if="userData.length == 0" class="eoko-portal-no-user">
      No Users to Approve/Deny Access!
    </div>

    <!-- ELSE DISPLAY APPROVED USERS -->
    <div id="G1" ng-if="user.adminConfirmed == 'false'" ng-repeat="user in userData">
      <div class="avatar2" style="background-image: url({{user.avatar}});"></div>
        <h2>{{user.name}}</h2>
        <p>{{user.email}}</p>

      <div>
        <button ng-click="denyUser(user)">DENY</button>
        <button ng-click="approveUser(user)">APPROVE</button>
      </div>
    </div>
  </div>


  <!-- _________________________ TAB FOR FEEDBACK __________________________ -->
  <div id="I" ng-if="selection.tab == 'Feedback'">

  <!--  style="width: 33vw;background-color: rgba(0, 0, 0, 0.61);padding: 33px;overflow: auto;height: 61vh;" -->
  <div>
      <!-- IF NO COMMENTS, OUTPUT NO COMMENT MESSAGE -->
      <div ng-if="commentData.length == 0" class="eoko-portal-no-user">
        No Comments to display
      </div>

      <!-- ELSE DISPLAY APPROVED USERS -->
      <div id="I1" class="col-md-3" ng-repeat="comment in commentData">
          <div class="avatar2" style="background-image: url({{comment.avatar}});"></div>
          <h2>{{comment.name}}</h2>
          <p>"{{comment.comment}}"</p>
      </div>
  </div>
  </div>

<!-- _________________________ TAB FOR RANKING __________________________ -->
  <div id="H" ng-if="selection.tab == 'Ranking'">

    <!-- IF NO USERS, ERROR MESSAGE -->
    <div ng-if="userData.length == 0" class="eoko-portal-no-user">
      No Users Found!
    </div>

    <!-- IF THERE ARE USERS, RANK THEM -->
    <div id="H1" ng-repeat="user in userData | orderBy : '-points' ">
      <h1>{{$index +1}}. {{user.name}}</h1>
        <div>
          <div class="avatar2" style="background-image: url({{user.avatar}});"></div>
          <p> <b>Points: </b> {{user.points}} points</p>
          <p><b>Email: </b>{{user.email}}</p>
          <p><b>Events created: </b> {{user.eventCount}}</p>
          <p><b>Surveys taken: </b>{{user.surveyCount}}</p>
        </div>
    </div>
  </div>

<!-- __________________________TAB FOR EVENTS______________________________ -->
  <div id="D">
    <div ng-if="selection.tab == 'Events'">
      <!--ERROR MESSAGE AND EVENT SUBMIT-->
      <div ng-if="errorpopup != '' && eventsubmitted == false " class="eoko-popup-error-message">{{errorpopup}}</div>
      <p ng-if="eventsubmitted == true" class="eoko-label-text-field">Building Event Submitted!</p>
      <div ng-if="eventsubmitted == false"></div>


      <!-- INPUT FIELD FOR TITLE, LOCATION, DATE/TIME -->
      <div id="D1">
        <label for="ed_LabelTitle">EVENT TITLE: </label>
        <input id="ed_labelTitle" type="text"  ng-model="event.title" required><br>
        <label for="ed_LabelCategory">CATEGORY: </label>
        <input id="ed_labelCategory" type="text"  ng-model="event.category" required><br>
        <label for="ed_LabelLocation">LOCATION: </label>
        <input id="ed_labelLocation" type="text" ng-model="event.location" required><br />
        <label for="ed_labelD">DATE: </label>
        <input id="ed_labelD" type="date" ng-model="event.date" required><br />
        <label for="ed_labelT">TIME: </label>
        <input id="ed_labelT" type="time" ng-model="event.time" required><br />
        <label for="ed_Description">DESCRIPTION: </label>
        <textarea ng-model="event.description"></textarea>
      </div>

      <!-- CHECKBOX IF EVENT IS PUBLIC OR PRIVATE -->
      <!-- <div id="D2">
        <label  style="margin-left: 300px;" for="public">PUBLIC EVENT: </label>
        <input id="public" type="checkbox"/>
        <label for="private">PRIVATE EVENT: </label>
        <input id="private" type="checkbox"/>
      </div> -->

        <!-- BUTTON TO CREATE EVENT -->
       <button ng-click="submitEvent()">CREATE</button>
    </div>
  </div>

  <!-- _____________________________ TAB FOR SURVEY__________________________ -->
  <div id="E">
    <div ng-if="selection.tab == 'Surveys'">

      <!-- ERROR MESSAGE -->
      <div ng-if="errorpopup != '' && surveysubmitted == false " class="eoko-popup-error-message">{{errorpopup}}</div>
       <p ng-if="surveysubmitted == true">Survey Submitted!</p>
       <div ng-if="surveysubmitted == false"></div>

     <!-- LAEBL FOR SURVEY-->
     <label for="sur_laeblTitle" name="surveyTitle">SURVEY TITLE</label>
     <input id="sur_labelTitle" type="text" ng-model="survey.title" required><br />
     <label name="surveyDescription">DESCRIPTION </label>
     <textarea ng-model="survey.description"></textarea>

      <!-- CHECKBOX FOR SURVEY-->
     <div id="E2">
       <!-- <label  style="margin-left: 10
       0px;" for="surveypublic">PUBLIC SURVEY: </label>
       <input id="surveypublic" type="checkbox"/>
       <label for="suurveyprivate">PRIVATE SURVEY: </label>
       <input id="surveyprivate" type="checkbox"/> -->
     </div>

      <!-- REPEAT FOR SURVEY QUESTIONS -->
     <div id="E3" ng-repeat="question in survey.questions track by $index">
        <hr style="width: 70%">
        <h3>QUESTION {{$index + 1}}</h3>

          <!-- INPUT FOR QUESTION AND REMOVE QUESTION BUTTON -->
          <input type="text" placeholder="Question" ng-model="question.title" >
          <button ng-click="removeQuestion($index)">x</button>

          <!-- REPEAT FOR SURVEY ANSWERS AND REMOVE ANSWER BUTTON -->
        <div id="E4" ng-repeat="choice in question.choices track by $index">
          <input type="text" placeholder="Answer" ng-model="choice.answer">
          <button ng-click="removeCheckbox($parent.$index, $index)" >x</button>
        </div>

          <!-- ADDING NEW SURVEY ANSWER -->
          <div id="E5">
            <button ng-click="addCheckbox($index)" >ADD ANSWER OPTION+</button>
          </div>
    </div>

    <!-- ADDING SURVEY QUESTIONS -->
     <button ng-click="addQuestion()"> ADD QUESTIONS + </button>
     <button ng-click="submitSurvey()">SUBMIT</button>
    </div>
  </div>


  <!-- _______________________ TAB FOR EOKO+_______________________ -->
  <div id="F">
    <div ng-if="selection.tab == 'Eoko'">
       <label name="surveyTitle">ADD ACTION TAG</label>
       <input id="label_AddActon" type="text" ng-model="survey.title" required /><br />
       <label name="surveyTitle">MAKE EOKO CODE</label>
       <input id="label_EokoCode" type="text" ng-model="survey.title" required />
    </div>
  </div>
</div>
</body>
