<!DOCTYPE html>
<body>
  <div id="S">
      <img src="../img/download2.png" />
      <hr />

      <!-- NAVIGATION BAR -->
      <div id="S1">
        <button ng-click="selectCompanyInformation()" id="companyInfo" > Company Information </button>
        <button ng-click="selectCompanyContact()" id="companyContact" > Company Contact </button>
        <button ng-click="selectCompanyAccount()" id="companyAccount"> Company Account </button>
      </div>

      <!-- FORM FOR COMPANY INFORMATION -->
      <div id="S2">
        <form ng-if="tabSelected == 'companyInfo'">
          <label for="companyName">Company Name* </label>
          <input ng-model="info.companyName" type="text" id="companyName" name="companyName" required /><br />
          <label for="buldingName">Building Name* </label>
          <input ng-model="info.buildingName" type="text" id="buldingName" name="buldingName" required /><br />
          <label for="address"> Address* </label>
          <input ng-model="info.address" type="text" id="address" name="address" required /><br />
          <label id="la2" for="address2"> Address 2 </label>
          <input ng-model="info.address" type="text" id="address2" name="address2" required /><br />
          <label for="city">City*</label>
          <input ng-model="info.city" type="text" id="city" name="city" required />
          <div id="S3">
            <label for="state">State* </label>
            <input ng-model="info.state" type="text" id="state" name="state" required />
          </div>
        </form>
      </div>
  </div>
</body>
